html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

* {
    box-sizing:border-box;
}



#container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 ;
    margin-top: 0px;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    background: transparent;
    user-select: none;

    #wallpaper{
        display: block;
        position: absolute;
        top: 0px;
        width:1900px;
        height: 1000px;
        margin: 0;
        overflow: hidden;
        text-align: center;
        left:50%;
        transform: translateX(-50%);
      }
      
      #leftPanel{
        position: relative;
        width:435px;
        height: 1000px;
        overflow: hidden;
        pointer-events: none;
        order:1;
      }
      
      #siteContent{
        position: relative;
        width: 1030px;
        height: 1100px;
        overflow: visible;
        cursor: pointer;
        flex-shrink: 0;
        order:2;

        #nineMasthead{
            position: relative;
            display: block;
            width: 100%;
            height: 250px;
            overflow: hidden;
        }
          
        #nineContent{
            position: relative;
            display: block;
            margin: 0;
            margin-top: 0px;
            width: 100%;
            height: 10000px;
            overflow: hidden;
            background-color: #fff;
            pointer-events: none;
        }
      }
      
      #rightPanel{
        position: relative;
        width: 435px;
        height: 1000px;
        overflow: hidden;
        pointer-events: none;
        order:3;
      }
      
      
  }


/* CUSTOM CSS */
#leftPanel, #rightPanel, #nineMasthead {
    background:#00a7e7;

    .circle {
        background:#4cc1ed;
        position:absolute;
        border-radius:50%;
    }

    
}


#leftPanel {
    #circle1 {
        width:291px;
        height:291px;
        left: 65px;
        top: -202px;
    }

    #circle2 {
        width:592px;
        height:592px;
        left: -280px;
        top: 250px;
    }

    #circle3 {
        width:240px;
        height:240px;
        right:-90px;
        bottom:-90px;
    }
}


#rightPanel {
    #circle4 {
        width:227px;
        height:227px;
        right: 90px;
        top: -185px;
    }

    #circle5 {
        width:457px;
        height:457px;
        right: -280px;
        top: 200px;
    }

    #circle6 {
        width:298px;
        height:298px;
        right:67px;
        bottom:-110px;
    }
}



#game {
    width:925px;
    height:250px;
    position:relative;
    margin:10px auto;
    overflow:hidden;

    .tile {
        position:absolute;
        transition: all 0.4s ease;
        background-size:100% 100%;

        &:hover {
            filter:brightness(0.8);
        }
    }


    .active {
        filter:brightness(0.8);
    }
    .destroy {
        transform:scale(0);
    }

    
}